:root{
    --accent:#00ADB5;
    --accent-light:#e4e3ec;
    --dark:#191927;
    --mid-dark:#252734;
    --light-dark:#2A2C39;
    --crimson:#dc143c;
}

.contact-section{
    background: var(--light-dark);
}

.contact-section h3{
    font-size: 1rem;
    text-align: center;
    opacity: 0.5;
    padding-top: 2rem;
}

.contact-section h2{
    text-align: center;
    padding: 0rem 0rem 2rem;
    font-size: 2rem;
    color: var(--accent-light);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.contact-details-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    align-items: center;
}

.contact-details-box .contact-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.contact-details .con-detail{
    width: 80%;
    height: 4rem;
    padding-left: 2rem;
    background: var(--mid-dark);
    border-radius: 50px;
    display: flex;
   align-items: center;
}

/*------------Contact Form-------------*/
.contact-details-box .contact-details form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    padding: 1rem;
}

.contact-details-box .contact-details form input{
    background: var(--mid-dark);
    padding: 0rem 1rem;
    height: 3rem;
    border: none;
    border-radius: 50px;
    color: var(--accent-light);
}

.contact-details-box .contact-details form textarea{
    background: var(--mid-dark);
    padding: 1rem;
    height: 150px;
    width: 100%;
    resize: none;
    border: none;
    border-radius: 20px;
    color: var(--accent-light);
}

.contact-details-box .contact-details form button{
    padding: 1rem 1.5rem;
    background: var(--accent-light);
    color: var(--dark);
    border: none;
    border-radius: 50px;
    width: 9.5rem;
}






/*------------------Responsive------------------*/
@media (max-width: 900px){
    .contact-details-box{
       grid-template-columns: 1fr;
    }
}