:root{
    --accent:#00ADB5;
    --accent-light:#e4e3ec;
    --dark:#191927;
    --mid-dark:#252734;
    --light-dark:#2A2C39;
    --crimson:#dc143c;
}


 /* ---------------- NAVBAR ---------------- */
    nav {
      width: 100%;
      background: var(--mid-dark);
      position: sticky;
      top: 0;
      z-index: 100;
    }

    .nav-inner {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .logo img {
      width: 80px;
    }

    .nav-links {
      list-style: none;
      display: flex;
      gap: 2rem;
    }

    .nav-links a {
      text-decoration: none;
      color:var(--accent-light);
      font-size: 0.95rem;
      transition: color 0.3s ease;
    }

    .nav-links a:hover {
      color:var(--accent);
    }

    .nav-links button.sub-btn {
      display: none;
    }

    /*--------------Subscribe Button---------------*/
    .sub-btn {
      padding: 0.6rem 1.5rem;
      background: transparent;
      color: var(--accent-light);
      border: 1px solid var(--accent);
      border-radius: 8px;
      cursor: pointer;
      font-size: 0.95rem;
      transition: background 0.3s ease;
    }

    .sub-btn:hover {
      background: var(--accent);
      color: #020617;
    }

    /* ---------------- HAMBURGER ---------------- */
    .hamburger {
  width: 28px;
  height: 20px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background:var(--accent-light);
  border-radius: 2px;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
            opacity 0.2s ease;
}

/* ===== ACTIVE STATE ===== */
.hamburger.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
  background: var(--crimson);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
  background: var(--crimson);
}


 @media (max-width: 768px) {
      .nav-links {
        position: absolute;
        top: 70px;
        right: 0;
        background: var(--mid-dark);
        width: 100%;
        flex-direction: column;
        gap: 1.5rem;
        padding: 2rem;
        display: none;
      }

      .nav-links.active {
        display: flex;
      }

      .hamburger {
        display: flex;
      }

      button.sub-btn {
        display: none;
      }

      .nav-links button.subBtn{
        display: block;
      }
    }