<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/404.css">
</head>
<body>
    <section class="error-section" id="error">
        <div class="container">
            <div class="svg-box">
                <img src="../assets/svgs/shapes/alien-404.svg" alt="">
            </div>
            <div class="content-box">
                <p>
                    The page you are looking for was Moved, Removed, Renamed or might never existed.
                </p>
                <a href="../index.html">
                    <button>Back To Home</button>
                </a>
            </div>
        </div>
    </section>
</body>
</html>